body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.date-picker {
  border-radius: 4px;
  border: 1px solid #cfd8dc;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  padding: 4px;
  margin: 8px;
  &:focus {
    border: 1px solid #607d8b;
    box-shadow: 0 0 5px #cfd8dc;
    /* background-color: #eee; */
    outline: 0;
  }
}
